html, body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

nav {
    background-color: #404040;
    overflow-x: scroll
    overflow-y: hidden;
}

nav > a {
    display: table-cell;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
}

nav > a:hover {
    background-color: #202020;
}

nav > a.active {
    background-color: #409fff;
}

/*
nav > a.hamburger {
    display: none;
}

@media screen and (max-width: 600px) {
    nav > a:not(.active) {
        display: none;
    }

    nav > a.hamburger {
        float: right;
        display: block;
    }
}
*/