html, body {
    margin: 0px;
    font-family: Verdana, sans-serif;
}

.page {
    border: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
}

.keyboard {
    top: 50%;
    position: absolute;
}
